#create-ansbtn{
    width: 90px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(28, 25, 180, 0.4);
    color: rgba(28, 25, 180, 0.8);
    cursor: pointer;
    padding: 10px;
}

.createanswer-container{
    display: flex;
    flex-direction: column;
}

.createanswer-profile{
    display: flex;

}

.createanswer-question{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #282829;
}
