#signupform-container{
    padding: 25px;
    width: 590px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
}

.signupform-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

#signupbtn-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}
